<div th:fragment="footer">
    <footer class="text-muted">
        <div class="container">
            <p class="float-right">
                <a href="#">Вверх</a>
            </p>
          </div>
    </footer>
    <div>