<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Про нас</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<header th:insert = "/blocks/header :: header"> </header>

<div class = "container mt-5">
    <h1 th:text="${title}"></h1>
</div>

<div class = "container mt-5">
    <h1>База с людьми</h1>
    <div th:each="el : ${posts}" class="alert alert-info-mt-2">
        <h3 th:text="${el.name}"/>
        <p th:text="${el.phone}"/>
        <p th:text="${el.mail}"/>
        <a href="'/blog' + ${el.id}"></a>
    </div>
</div>

<div th:insert="/blocks/footer :: footer"></div>


</body>
</html>